extends src/layouts/main-layout.pug

block title
    title Добро пожаловать
block style 
    link(rel="stylesheet", href="main.scss")
block content
    ul.menu 
        li.menu-item 
            a.menu-item__link.link(href="src/pages/login.pug") Авторизация
        li.menu-item 
            a.menu-item__link.link(href="src/pages/registration.pug") Регистрация
        li.menu-item 
            a.menu-item__link.link(href="src/pages/profile.pug") Профиль
        li.menu-item 
            a.menu-item__link.link(href="src/pages/500.pug") 500
        li.menu-item 
            a.menu-item__link.link(href="src/pages/404.pug") 404
        li.menu-item
            a.menu-item__link.link(href="src/pages/chats.pug") Список чатов