extends ../layouts/main-layout.pug

block title
    title 404
block style 
    link(rel="stylesheet", href="../../main.scss")
block content
    .error 
        h1.error__title 404
        p.error__message Не туда попали
        a.error__link.link(href="chats.pug")  Назада к чатам