extends ../layouts/main-layout.pug

block title
    title Регистрация
block style 
    link(rel="stylesheet", href="../../main.scss")
block content
    form.registration-form
        .registration-form__fields
            h3(class="registration-form__title") Регистрация
            input(type="text", class="text-input registration-form__username-input", placeholder="Почта", name="email") 
            input(type="text", class="text-input registration-form__username-input", placeholder="Логин", name="login") 
            input(type="text", class="text-input registration-form__username-input", placeholder="Имя", name="first_name") 
            input(type="text", class="text-input registration-form__username-input", placeholder="Фамилия", name="second_name") 
            input(type="text", class="text-input registration-form__username-input", placeholder="Телефон", name="phone") 
            input(type="password", class="text-input registration-form__userpassword-input",placeholder="Пароль", name="password")
            input(type="password", class="text-input registration-form__userpassword-input",placeholder="Пароль(еще раз)")
        .registration-form__buttons
            button.registration-form__submit.btn
                span.button__capture.button__capture_blue Зарегистрироваться
            a.registration-from__link.link(href="login.pug") Войти
